<div class="column is-12">
    <h2 class="title is-size-4 is-spaced">What is Notepad online?</h2>
    <p class="is-size-6">It's free Online note document to bookmark your information. You can
        write notes and share them quickly with everyone. Click <a href="mailto:support@znotepad.com">DMCA Report</a> to
        report copyrighted content or information you want to delete on the website.</p>
</div>