{% extends "layout.twig" %}

{% block SEO %}
    <meta property="ia:markup_url" content="https://znotepad.com/">
    <meta property="og:type" content="website"/>

{% endblock %}

{% block editor %}
    <div class="column is-8">
        <div class="columns">
            {% include 'partials/what-is-notepad.twig' %}
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="control">
                    <input maxlength="70" autocomplete="off" value="{{ note.title }}" name="title"
                           class="input" type="text"
                           placeholder="Note Title">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <button type="submit" class="button is-primary"><i class="far fa-save"></i> &nbsp; Save</button>
                <br>
                <label class="checkbox private-mode">
                    <input name="is_private" type="checkbox">
                    Don't show note public
                </label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="editor-wrapper">
                    {% include 'partials/editor-toolbar.twig' %}
                    <input value="{{ note.content_plaintext | safe }}" id="content-plaintext" name="content_plaintext" type="hidden">
                    <input value="{{ note.content | safe }}" id="content" name="content" type="hidden">
                    <div id="editor-container">{{ note.content | safe }}</div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="message is-warning">
                    <div class="message-body">
                        <p>Your note will be stored forever until we receive <a href="mailto:support@znotepad.com">DMCA report</a> to delete about the note.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script>
        var editor = new Quill('#editor-container', {
            modules: {toolbar: '#toolbar'},
            theme: 'snow',
            placeholder: 'Compose an epic...',
        });

        editor.on('text-change', function () {
            document.getElementById('content').value = editor.root.innerHTML;
            document.getElementById('content-plaintext').value = editor.getText();
        });
    </script>
{% endblock %}