{% extends "layout.twig" %}

{% set title = "Write a new note - ZNotepad.com" %}
{% set description = "In Notes on ZNotepad, add checklists, bulleted lists, text formatting, and web links to your notes." %}

{% set url = "https://znotepad.com/new-note" %}

{% block SEO %}
    <meta property="ia:markup_url" content="https://znotepad.com/new-note">
    <meta property="og:type" content="website"/>

{% endblock %}

{% block styles %}
    <style>
        #editor-container iframe {
            pointer-events: none !important;
            height: 315px;
        }

        .showHidePassword {
            cursor: pointer;
        }

        .url-suggestion {
            color: #34631a;
            cursor: pointer;
        }

        .warning-suggestion {
            background-color: #fffbdd;
            border-color: #d9d0a5;
            color: #735c0f;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            display: block;
            font-size: 13px;
            font-weight: 400;
            margin: 4px 0 0;
            max-width: 450px;
            padding: 5px 8px;
            position: absolute;
            top: -43px;
            z-index: 10;
        }

        .warning-suggestion:before {
            border: solid transparent;
            border-bottom-color: #d9d0a5;
            border-width: 6px;
            margin-left: 10px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            bottom: -40%;
            content: " ";
            height: 0;
            left: 10px;
            pointer-events: none;
            position: absolute;
            width: 0;
            z-index: 15;
        }

        .warning-suggestion:after {
            border: solid #5f0d0d00;
            bottom: -37%;
            content: " ";
            height: 0;
            border-width: 6px;
            left: 20px;
             -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            border-bottom-color: #fffbdd;
            pointer-events: none;
            position: absolute;
            width: 0;
            z-index: 999;
        }

        .box-editor {
            padding: 2rem;
            background-color: #fff;
            box-shadow: 3px 3px 0 #bababa;
            border: 1px solid #d6d6d6;
        }
    </style>
{% endblock %}

{% block editor %}
    <div class="column is-8 box-editor">
        {% include 'partials/flash-message.twig' %}
        <div class="columns">
            <div class="column is-12">
                <div class="control">
                    <input maxlength="70" autocomplete="off" value="{{ note.title }}" name="title"
                           class="input is-shadowless" type="text"
                           placeholder="Note Title">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <button id="saveNote" type="submit" class="button is-primary"><i class="far fa-save"></i> &nbsp; Save</button>
                        </div>
                    </div>
                    <div class="level-right">
                        <p class="level-item is-hidden">
                            <a data-target="#options" class="button collapse">Options &nbsp; <i class="fas fa-chevron-down"></i></a>
                        </p>
                    </div>
                </nav>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <label class="checkbox private-mode noselect">
                    <input name="is_private" type="checkbox">
                    Don't show note public
                </label>
            </div>
        </div>
        <div class="columns" id="options" style="display: none;">
            <div class="column is-12">
                <label class="is-size-6">Optional Note Settings</label>
                <hr style="margin-bottom: 12px; margin-top: 6px">
                <label class="label">Password</label>
                <div class="field has-addons">
                    <div class="control has-icons-left has-icons-right">
                        <input id="password" name="password" autocomplete="current-password" class="input is-shadowless" type="password" placeholder="Enter password protection">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <p class="control noselect showHidePassword">
                        <a class="button is-static">
                            <i class="fas fa-eye"></i>
                        </a>
                    </p>
                </div>
                <p class="help">Anyone who wants to access must enter a password.</p>
                <br>
                <label class="label">URL</label>
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static"><i class="fab fa-internet-explorer"></i> &nbsp; znotepad.com/notes/</a>
                    </p>
                    <p class="control has-icons-right is-expanded control-url-customize">
                        <input class="input is-shadowless" type="text" placeholder="customize" name="url">
                        <span class="icon is-small is-right is-hidden">
                            <i style="color: #5ab034" class="fas fa-check"></i>
                        </span>

                        <span class="warning-suggestion is-hidden-mobile" style="display: none">
                            Your new note will be created as <strong></strong>
                        </span>
                    </p>
                </div>
                <p class="help custom-url">Great note URL path is short and memorable. Need inspiration? How about <strong class="url-suggestion">fuzzy-succotash</strong>?</p>
            </div>

        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="editor-wrapper">
                    {% include 'partials/editor-toolbar.twig' %}
                    <input value="{{ note.content_plaintext | safe }}" id="content-plaintext" name="content_plaintext" type="hidden">
                    <input value="{{ note.content | safe }}" id="content" name="content" type="hidden">
                    <div id="editor-container">{{ note.content | safe }}</div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="message is-warning">
                    <div class="message-body">
                        <p>Your note will be stored forever until we receive <a href="mailto:support@znotepad.com">DMCA report</a> to delete about the note.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h2 class="title is-size-4 is-spaced">Write a new note</h2>
                <p class="is-size-6">You can write notes and change the formatting in a note—for example, change the font size or alignment, or make text <span class="has-text-weight-bold">bold</span>.
                    You can also apply paragraph styles, add checklists, and specify the paragraph style that’s used when you start typing a new note.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script>
    <script src="/js/video-resize.min.js"></script>

    <script>
        var editor = new Quill('#editor-container', {
            theme: 'snow',
            modules: {
                toolbar: '#toolbar',
                videoResize: {}
            },
            placeholder: 'Compose an epic...',
        });

        localStorage.removeItem("auto_save_note");

        editor.on('text-change', function () {
            document.getElementById('content').value = editor.root.innerHTML;
            document.getElementById('content-plaintext').value = editor.getText();
            localStorage.setItem('auto_save_note', editor.root.innerHTML);
        });

        document.getElementById("saveNote").addEventListener("click", function () {
            this.classList.add("is-loading");
            localStorage.removeItem("auto_save_note"); // TODO: Check condition execute it when save is successfully!
        });

        $(".collapse").on('click', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $(target).slideToggle({duration: 200});
        });

        $('.showHidePassword').click(function () {
            var $icon = $(this).find('svg');
            var $passwordInput = $("#password");
            var type = $passwordInput.attr('type');
            if (type === 'password') {
                $passwordInput.attr('type', 'text');
                $icon.attr('data-icon', 'eye-slash');
                return;
            }
            $passwordInput.attr('type', 'password');
            $icon.attr('data-icon', 'eye');
        });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 800;  //time in ms, 800 milliseconds for example
        var $urlInput = $('input[name=url]');

        //on keyup, start the countdown
        $urlInput.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown
        $urlInput.on('keydown', function (e) {
            var code = e.which;
            if ( code === 13 || code === 9 ) {
                e.preventDefault();
            }
            $('.control-url-customize').removeClass('is-loading');
            $('.control-url-customize').find('.icon.is-right').addClass('is-hidden');
            clearTimeout(typingTimer);
        });

        //user is "finished typing," do something
        function doneTyping () {
            $('.control-url-customize').addClass('is-loading');
            setTimeout(function () {
                var urlPath = $urlInput.val();

                $.get('/check/url-available?id=' + urlPath, function (response) {
                    if (response.error) {
                        return;
                    }
                    if (response.exits) {
                        $('p.help.custom-url').html(response.message);
                        return;
                    }

                    $('p.help.custom-url').html(response.message);
                    $('.control-url-customize').find('.icon.is-right').removeClass('is-hidden')
                }).always(function() {
                    $('.control-url-customize').removeClass('is-loading');
                });
            }, 500);

        }
    </script>
{% endblock %}